Source: cgal-swig-bindings
Section: libs
Priority: optional
Maintainer: Thomas Karl Pietrowski <thopiekar@gmail.com>
Build-Depends:
 debhelper (>= 11),
 cmake,
# clang
 clang,
# EIGEN3
 libeigen3-dev,
# SWIG
 swig,
# Python
 python-all-dev,
 python3-all-dev,
# Java
 default-jdk,
# Ruby
# ruby-dev,
# CGAL
 libcgal-dev, libcgal-qt5-dev,
Standards-Version: 4.1.3
Homepage: https://github.com/thopiekar/cgal-swig-bindings-packaging
X-Python3-Version: >= 3.5
XS-Python-Version: >= 2.7
#Vcs-Browser: https://salsa.debian.org/debian/cgal-swig-bindings
#Vcs-Git: https://salsa.debian.org/debian/cgal-swig-bindings.git

Package: cgal-swig-bindings
Architecture: all
Depends:
 python-cgal,
 python3-cgal,
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: libcgal-swig-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: python-cgal
Architecture: any
Depends:
 libcgal-swig-common,
 ${python:Depends},
 ${shlibs:Depends},
 ${misc:Depends},
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: python3-cgal
Architecture: any
Depends:
 libcgal-swig-common,
 ${python3:Depends},
 ${shlibs:Depends},
 ${misc:Depends},
Provides:
 ${python3:Provides},
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: java-cgal
Architecture: any
Depends:
 libcgal-swig-common,
 ${shlibs:Depends},
 ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

#Package: ruby-cgal
#Architecture: any
#Depends: ${shlibs:Depends}, ${misc:Depends}
#Description: <insert up to 60 chars description>
# <insert long description, indented with spaces>
#
