#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

CMAKE_COMMON_FLAGS = -DCMAKE_BUILD_TYPE=Release \
                     -DCMAKE_INSTALL_PREFIX=$(CURDIR)/debian/tmp \
                     -DLIB_INSTALL_DIR=usr/lib
CMAKE_PYTHON_FLAGS = -DBUILD_PYTHON=ON -DBUILD_RUBY=OFF -DBUILD_JAVA=OFF
CMAKE_JAVA_FLAGS = -DBUILD_PYTHON=OFF -DBUILD_RUBY=OFF -DBUILD_JAVA=ON
CMAKE_RUBY_FLAGS = -DBUILD_PYTHON=OFF -DBUILD_RUBY=ON -DBUILD_JAVA=OFF

# Parallel is probably to heavy for launchpad.net
#CMAKE_JOB_FLAGS = --parallel
CMAKE_JOB_FLAGS = -- -j2


%:
	dh $@ --buildsystem=cmake --with python2,python3

override_dh_auto_clean:
	rm -rfv $(CURDIR)/build-*
	dh_auto_clean

override_dh_auto_configure:
	mkdir -p $(CURDIR)/debian/tmp
	echo $(CURDIR)/debian/tmp

	# Python
	for python in $(shell pyversions -r) $(shell py3versions -r); do \
		mkdir -p build-$$python; cmake -S $(CURDIR) -B $(CURDIR)/build-$$python $(CMAKE_COMMON_FLAGS) $(CMAKE_PYTHON_FLAGS) -DPYTHON_EXECUTABLE=$$python -DPYTHON_MODULE_PATH=$(CURDIR)/debian/tmp/usr/lib/$$python/ ; \
	done

	# Java
	mkdir -p build-java
	cmake -S . -B $(CURDIR)/build-java $(CMAKE_COMMON_FLAGS) $(CMAKE_JAVA_FLAGS)

	# Ruby
	#mkdir -p build-ruby
	#cmake -S . -B $(CURDIR)/build-ruby $(CMAKE_COMMON_FLAGS) $(CMAKE_RUBY_FLAGS)

override_dh_auto_build:
	# Python
	for python in $(shell pyversions -r) $(shell py3versions -r); do \
		cmake --build $(CURDIR)/build-$$python $(CMAKE_JOB_FLAGS); \
	done

	# Java
	cmake --build $(CURDIR)/build-java $(CMAKE_JOB_FLAGS)

	# Ruby
	#cmake --build $(CURDIR)/build-ruby $(CMAKE_JOB_FLAGS)

override_dh_auto_install:
	# Python
	for python in $(shell pyversions -r) $(shell py3versions -r); do \
		cmake --build $(CURDIR)/build-$$python --target install; \
	done

	# Java
	cmake --build $(CURDIR)/build-java --target install

	# Ruby
	#cmake --build $(CURDIR)/build-ruby --target install

	mv $(CURDIR)/debian/tmp/lib/* $(CURDIR)/debian/tmp/usr/lib/
	rm -rfv $(CURDIR)/debian/tmp/lib/

override_dh_auto_test:
	dh_auto_test || true

override_dh_install:
	dh_install --fail-missing
